.storyPicture{    
    margin-top: 4rem;
    padding: 2rem;
}
.story__image {
    width: 100%;
}

@media (min-width:1250px) {
    .storyPicture{
        grid-row: 2/3;
        grid-column:2/7;   
        align-self: end;
    }
}
