
:root {
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-gray: hsl(0, 0%, 55%);
  --color-darkGray: hsl(0, 0%, 41%);

  --font-primary: 'Josefin Sans';
  --font-secondary: 'Alata';
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
  font-size: 62.5%;
}

.app {
  display: grid;
  grid-template-rows: 80vh repeat(3, min-content);
}

.heading-2{
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
}

.btn{
  outline: none;
  text-transform: uppercase;
  padding: .5rem 1.8rem;
  border: 1px solid var(--color-black);
  font-family: var(--font-secondary);
  letter-spacing: .5rem;
  background-color: var(--color-white);
  cursor: pointer;
  transition: all .2s;
}

.btn:hover{
  background-color: var(--color-black);
  color: var(--color-white);
}
li a {
  color: currentColor;
  text-decoration: none; 
}

li a::after {
  content: '';
  display: block;
  padding-bottom: .5rem;
  border-bottom: solid 1px currentColor;
  transform: scaleX(0);
  transition: transform 150ms ease-in;
}
li a:hover::after{
  transform: scaleX(1);
}

@media (min-width:1250px) {
  .app{
    grid-template-rows: 80vh 40vw repeat(2, min-content);
    grid-template-columns: repeat(10,1fr) ;
  }
}

