
:root {
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-gray: hsl(0, 0%, 55%);
  --color-darkGray: hsl(0, 0%, 41%);

  --font-primary: 'Alata';
  --font-secondary: 'Josefin Sans';
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
  font-size: 62.5%;
}

.app {
  display: grid;
  grid-template-rows: 80vh repeat(3, min-content);
}

.heading-2{
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
}